@font-face {
   font-family: 'DB Ozone X';
   font-display: swap;
   src: url('file:///Users/supakornkimhajan/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-04-21_113103/fonts/DB%20Ozone%20X/font.ttf');
}
